# 9. 딕셔너리 (Dictionary) 자료형

#### dictionary 는 key-value 쌍으로 이루어진 data type 이다.

#### dictionary 는 { } 내에 key: value 로 표시한다.

#### list, tuple 의 elemtent 들은 indexing 에 의해 접근하지만 , dictionary 는 key 값으로 접근한다.

    dictionary = {key: value, key: value...}
    
<img src="./images/dict1.png" width="500">

## 9.1 Dictionary basics

### dictionary 생성

In [1]:
dict = {'a': 1, 'b': 2, 'c': 3}

In [2]:
type(dict)

dict

### dictionary 값(value) 접근

In [3]:
dict['b'] + dict['c']

5

In [4]:
my_info = {'name': 'Kim', 'age': 25, 'height': 175, 'home': 'Seoul'}

if my_info['age'] < 30 and my_info['height'] > 170:
    print("My name is " + my_info['name'] + ' and I live in ' + my_info['home'] + '.')

My name is Kim and I live in Seoul.

### Dictionary 값 update

In [5]:
my_info['name'] = 'Jane'
my_info['home'] = 'New York'

In [6]:
if my_info['age'] < 30 and my_info['height'] > 170:
    print("My name is " + my_info['name'] + ' and I live in ' + my_info['home'] + '.')

My name is Jane and I live in New York.

### dictionary 와 for-loop

In [7]:
for info in my_info:
    print(info)

name
age
height
home

In [8]:
for key in my_info.keys():
    print(key)

name
age
height
home

In [9]:
for value in my_info.values():
    print(value)

Jane
25
175
New York

In [10]:
for key, value in my_info.items():
    print(key, value)

name Jane
age 25
height 175
home New York

In [11]:
for key in my_info.keys():
    print(my_info[key])

Jane
25
175
New York

In [12]:
for key in my_info.keys():
    print(key, my_info[key])

name Jane
age 25
height 175
home New York

In [13]:
for key, value in my_info.items():
    print(key, '\t', value)

name 	 Jane
age 	 25
height 	 175
home 	 New York

### dictionary 정렬

In [14]:
dict = {'c': 1, 'a': 2, 'b': 3}
sorted(dict)

['a', 'b', 'c']

In [15]:
for key, value in dict.items():
    print(key, '\t', value)

c 	 1
a 	 2
b 	 3

In [16]:
for key in sorted(dict):
    print(key, '\t', dict[key])

a 	 2
b 	 3
c 	 1

### dictionary 에 key 존재 유무 check

In [17]:
dict = {'a': 1, 'b': 2, 'c': 3}
'a' in dict

True

In [18]:
'd' in dict

False

### dictionary 를 이용한 list 의 중복 element count

In [19]:
def word_count_dict(word_list):
    word_count = {}
    for word in word_list:
        word = word.lower()
        if not word in word_count:
            word_count[word] = 1
        else:
            word_count[word] += 1
    return word_count

In [20]:
word_list = ['test', 'Test', 'apple', 'Apple', 'orange', 'dog', 'caT', 'CAT']

words_cnt = word_count_dict(word_list)

In [21]:
words_cnt

{'test': 2, 'apple': 2, 'orange': 1, 'dog': 1, 'cat': 2}

In [22]:
for k, v in words_cnt.items():
    print(k, v)

test 2
apple 2
orange 1
dog 1
cat 2

### 계층적 자료구조 구성

In [23]:
stock = {
    'name': '삼성전자',
    'market': 'KOSPI',
    'close': [
        ('2010-08-01', 45000),
        ('2010-08-02', 47000),
        ('2010-08-03', 42000),
    ],
    'market-cap': 2919097,
    'PER': 15.17
}

In [24]:
stock['market-cap']

2919097

In [25]:
for c in stock['close']:
    print(c[0], c[1])

2010-08-01 45000
2010-08-02 47000
2010-08-03 42000

In [26]:
stock['phone'] = '02-3455-2020'

In [27]:
stock

{'name': '삼성전자',
 'market': 'KOSPI',
 'close': [('2010-08-01', 45000),
  ('2010-08-02', 47000),
  ('2010-08-03', 42000)],
 'market-cap': 2919097,
 'PER': 15.17,
 'phone': '02-3455-2020'}

In [28]:
stock.keys()

dict_keys(['name', 'market', 'close', 'market-cap', 'PER', 'phone'])

### 연습문제

1) 다음의 출력 결과는 ?

    d = {'a': 2, 'b': 4, 'c': 9}
    for x in sorted(d):
        print(d[x], end="")

2) 다음의 출력 결과는 ?

    d = {'a': 2, 'b': 4, 'c': 9}
    for x in sorted(d.values()):
        print(x, end="")

3) 다음의 출력 결과는 ?

    d = {'a': 2, 'b': 4, 'c': 9}
    for x in sorted(d.items()):
        print(x, end="")

4) dictionary 를 이용하여 자신의 정보를 구조화 하여 작성  

        ex) {'name': '오영제', 
              '성별': '남성', 
              '거주지': {'도시': '서울', '동': '충무로', '주소': '123-45'}, 
              '전화번호': 1012345678, 
              '신장': 175.17}

5) 두개의 주사위를 던져서 두 주사위의 합이 같은 것끼리 출력하라.

- pseudo-code

```
    d = {}
    
    Loop with 주사위1 from 1 to 6
        Loop with 주사위2 from 1 to 6
            newTuple = (주사위1, 주사위2)
            added = 주사위1 + 주사위2
            if added 가 d 에 없으면 empty list 를 d 에 추가
            d 의 기존 list 에 append
```