# 6. 파이썬의 변수 (variable) 은 사전에 정해진 type 이 없고 보관되는 data type 에 따라 정해진다.

### 변수의 이름은 문자와 숫자, \_ (underscore) 로 구성되며, 문자 (a~z, A~Z) 혹은 \_ (underscore) 로만 시작 가능하다.

### = 를 이용하여 변수에 값을 할당 한다

### Python 이 사용하는 33 개의 keyword 는 변수명으로 사용하면 안된다.

    False, None, True, and, as, assert, break, class, continue, def, del, elif, else,
    except,finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, 
    pass, raise, return, try, while, with, yield

In [1]:
n = 5
print(5)

5

In [2]:
type(n)

int

In [3]:
x = 3.14
print(x)

3.14

In [4]:
type(x)

float

In [5]:
a = "Python's data type is powerful and easy."
print(a)

Python's data type is powerful and easy.

In [6]:
type(a)

str

In [7]:
a = 100
x = 55

In [8]:
print("n =", n, ", x =", x, ", a = ", a)

n = 5 , x = 55 , a =  100

In [9]:
type(x)

int

In [10]:
type(a)

int

In [11]:
_one2three = 123

In [12]:
one_2_three = 123

In [13]:
one.2.three = 123

SyntaxError: invalid syntax (<ipython-input-13-bb2f283060e8>, line 1)

In [14]:
1_two_three = 123

SyntaxError: invalid token (<ipython-input-14-82e7f50b07f1>, line 1)

In [15]:
my_integer = 50
print(my_integer, type(my_integer))

50 <class 'int'>

In [16]:
my_float = 50.0
print(my_float, type(my_float))

50.0 <class 'float'>

In [17]:
my_float = float(50)
print(my_float, type(my_float))

50.0 <class 'float'>

In [18]:
my_integer = int(3.14)
print(my_integer, type(my_integer))

3 <class 'int'>

In [19]:
my_string = str(3.14)
print(my_string, type(my_string))

3.14 <class 'str'>

In [20]:
my_bool = True
print(my_bool, type(my_bool))

True <class 'bool'>