1) 다음 list 에서 10 과 30 사이의 숫자 중 홀수만 골라 출력하라.

    xlist = [-5, 5, 10, 12, 13, 14, 15, 25, 30, 40, 55, 100]

In [1]:
xlist = [-5, 5, 10, 12, 13, 14, 15, 25, 30, 40, 55, 100]
for i in xlist:
    if i >= 10 and i <= 30:
        if i % 2 == 1:
            print(i, end=",")

13,15,25,

2) 다음 영어 문장에서 너(you)는 몇번 나오는가 ?

    "You don't go to school on Saturday. I want you be happy. I miss you very much. You don't forget me"

In [2]:
s = "You don't go to school on Saturday. I want you be happy.\
I miss you very much. You don't forget me"

s = s.lower()
s.count("you")

4

In [3]:
s

"you don't go to school on saturday. i want you be happy.i miss you very much. you don't forget me"

3) 파이썬 강좌의 수강생 목록은 다음과 같다. 어떤 사람이 수강생 목록에 존재하는지 check 하는 함수를 작성하라.
   목록에 존재하면 True, 존재하지 않으면 False 를 반환한다.
   
   학생부 : ["김철수", "홍길동", "문재인", "김정은", "트럼프", "성춘향"]

In [4]:
student_list = ["김철수", "홍길동", "문재인", "김정은", "트럼프", "성춘향"]

def true_or_false(xlist, name):
    if name in xlist:
        return True
    else:
        return False

In [5]:
true_or_false(student_list, "김철수")

True

4) 다음의 주민번호 리스트에서 남, 녀 별로 90 년생 이후 출생자를 골라내라.

    id_list = ['920801-1041798', '800902-2048746', '971010-1023987', '871203-2014987',
               '820801-1041798', '900902-2048746', '941010-1023987', '971203-2014987']

In [6]:
id_list = ['920801-1041798', '800902-2048746', '971010-1023987', '871203-2014987',
               '820801-1041798', '900902-2048746', '941010-1023987', '971203-2014987']

In [7]:
id_list

['920801-1041798',
 '800902-2048746',
 '971010-1023987',
 '871203-2014987',
 '820801-1041798',
 '900902-2048746',
 '941010-1023987',
 '971203-2014987']

In [8]:
man = []
lady = []

for id in id_list:
    if id[:2] >= '90':
        if id[7] == '1':
            man.append(id)
        else:
            lady.append(id)
print('남성 = ',man)
print('여성 = ',lady)

남성 =  ['920801-1041798', '971010-1023987', '941010-1023987']
여성 =  ['900902-2048746', '971203-2014987']