# 인덱스 (Index) 를 이용한 list 의 element 직접 이용

### list 를 구성하는 element 들은 위치에 따라 index 로 접근할 수 있다.
### index 는 대괄호(bracket)안에 정수(integer) 로 표시
### Python 의 index 는 0 부터 시작하는 양수 혹은 -1 부터 시작하는 음수로 표시할 수 있다.
      0   1   2   3   4   5 
    +---+---+---+---+---+---+
    | H | e | l | l | o | ! |
    +---+---+---+---+---+---+
     -6  -5  -4  -3  -2  -1

In [26]:
hello = ['H', 'e', 'l', 'l', 'o', '!']
print(len(hello))

6

In [27]:
print(hello)

['H', 'e', 'l', 'l', 'o', '!']

In [28]:
hello[0]

'H'

In [29]:
hello[5]

'!'

In [30]:
hello[len(hello) - 1]

'!'

In [31]:
x = [1,2,3] + ['a','b','c']

In [32]:
print(x)

[1, 2, 3, 'a', 'b', 'c']

In [33]:
x[0]

1

In [34]:
x[1]

2

In [35]:
x[len(x)-1]

'c'

In [36]:
x[3] = 4

In [37]:
x

[1, 2, 3, 4, 'b', 'c']

In [38]:
x[4] = 5
x

[1, 2, 3, 4, 5, 'c']

In [39]:
x[0] = 'first'
x[-1] = 'last'

In [40]:
x

['first', 2, 3, 4, 5, 'last']

In [41]:
x[-2]

5

In [42]:
x[len(x) - 1] = 'end'

In [43]:
x

['first', 2, 3, 4, 5, 'end']

In [44]:
x[-6]

'first'

In [45]:
animals = [['dog', 'Ruby', 7], ['cat', 'Nero', 3], ['dog', 'John', 5], ['bird', 'Seagal', 2]]

In [46]:
animals[2]

['dog', 'John', 5]

In [47]:
kind, name, age = animals[-1]

In [48]:
print(kind, name, age)

bird Seagal 2

In [49]:
animals[2][2]

5