# range( ) 함수

### Python 은 range( ) 함수를 built-in 으로 제공한다.
### range( ) 함수는 파라미터 (parameter) 로 받은 숫자 범위의 연속된 정수를 반환함.
### 문법
    range([start,] stop [, increment] ) 
### list( ) 함수는 range( ) 함수의 반환값을 list 로 변환해 줌.
### for-loop 문에서 range( ) 함수는 list 를 반환한다.

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [4]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [5]:
list(range(5, 5))

[]

In [6]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0

In [49]:
order = ['1st', '2nd', '3rd', '4th', '5th']
for i in range(len(order)):
    print(i, order[i])

0 1st
1 2nd
2 3rd
3 4th
4 5th

In [50]:
for i in range(len(order)-1, -1, -1):
    print(i, order[i])

4 5th
3 4th
2 3rd
1 2nd
0 1st

In [58]:
for i, ord in enumerate(reversed(order)):
    print(i, ord)

0 5th
1 4th
2 3rd
3 2nd
4 1st

In [54]:
for i in range(0, len(order), 2):
    print(i, order[i])

0 1st
2 3rd
4 5th

In [55]:
def sum(n):
    sum = 0
    for i in range(n+1):
        sum = sum + i
    return sum
sum(10)

55

In [56]:
def hello_world():
    print("Hello, world!")

for i in range(5):
    hello_world()

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!