# for-loop (반복문)

### for 문을 이용하여 반복 처리를 할 수 있다.

### Python 에서는 for-loop 을 이용하여 list 내의 element 들을 순차적으로 처리할 수 있다.
### list 와 같이 한번에 한개씩의 element 를 반환하는 자료형태를 iterable (반복형태) 이라고 부른다.
### Python 의  for loop 의 문법은 다음과 같다.

for <item> in <iterable>:
    <body>

In [1]:
fruits = ["apple", "orange", "banana", "mango", "pear"]

In [2]:
for fruit in fruits:
    print("I love", fruit)

I love apple
I love orange
I love banana
I love mango
I love pear

In [3]:
count = 0
for _ in fruits:
    count += 1
print(count)

5

In [4]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for i in x:
    print(i)
    sum = sum + i
print(sum)

1
2
3
4
5
6
7
8
9
10
55

In [5]:
for i in x:
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [6]:
for i in x:
    print(i, end="")

12345678910

In [7]:
list_items = ['1st', '2nd', '3rd', '4th', '5th', '6th']
index = [0,1,2,3,4,5]
for i in index:
    print(list_items[i])

1st
2nd
3rd
4th
5th
6th

In [8]:
animals = [['dog', 'Ruby', 7], ['cat', 'Nero', 3], ['dog', 'John', 5], ['bird', 'Seagal', 2]]

In [9]:
for kind, name, age in animals:
    print(kind, name, age)

dog Ruby 7
cat Nero 3
dog John 5
bird Seagal 2