# 9. 튜플 (Tuple) 

### 튜플은 element 값을 변경할 수 없는 list 이다.

- Mutable : 값을 변경 가능 (list, variable)

- Immutable : 값을 변경 불가능 (tuple)

### tuple 은 괄호 (  ) 로 element 들을 감싸준다.

### element 를 변경할 수 없는 것 이외의 operation 은 list 와 거의 유사함.

## 9-1. Tuple 과 List 비교

In [44]:
xlist = [1, 2, 3, 4]
ytuple = (1, 2, 3, 4)

In [45]:
xlist[1:4]

[2, 3, 4]

In [46]:
ytuple[1:4]

(2, 3, 4)

In [47]:
ytuple[-1]

4

In [48]:
xlist.append(6)
x

[1, 2, 3, 4]

In [49]:
ytuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [51]:
xlist[3] = '4th'
xlist

[1, 2, 3, '4th', 6]

In [52]:
ytuple[3] = '4th'

TypeError: 'tuple' object does not support item assignment

### tuple merge

In [56]:
z = ('a','b')

In [57]:
new_tuple = y + z
new_tuple

(1, 2, 3, 4, 'a', 'b')

### tuple 생성

In [59]:
t = 1, "two", 3+4

In [60]:
t

(1, 'two', 7)

In [61]:
type(t)

tuple

In [65]:
u = tuple(t)
u

(1, 'two', 7)

In [17]:
j, k, l = u
print(j, k, l)

1 two 7

In [18]:
my_tuple = ('cat', 'dog', 'apple')

In [19]:
cc, dd, aa = my_tuple
print(cc, dd, aa)

cat dog apple

### tuple 과 for-loop

In [62]:
for e in t:
    print(e)

1
two
7

In [63]:
for i in range(len(t)):
    print("t[",i,"] = ", t[i])

t[ 0 ] =  1
t[ 1 ] =  two
t[ 2 ] =  7

In [64]:
for i in range(len(t)):
    print("t[" + str(i) + "]", t[i])

t[0] 1
t[1] two
t[2] 7

### tuple indexing

In [66]:
print(my_tuple[-1])
print(my_tuple[-2])

apple
dog

In [67]:
my_tuple[-1] = 'banana'

TypeError: 'tuple' object does not support item assignment

### tuple 정렬 (sort)

In [22]:
changed_tuple = my_tuple + ('banaba',)

In [23]:
changed_tuple

('cat', 'dog', 'apple', 'banaba')

In [24]:
len(my_tuple)

3

In [25]:
changed_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [26]:
sorted(changed_tuple)

['apple', 'banaba', 'cat', 'dog']

In [27]:
c = list(my_tuple)

In [28]:
c.sort()

In [29]:
c

['apple', 'cat', 'dog']

In [30]:
sorted(changed_tuple)

['apple', 'banaba', 'cat', 'dog']

In [31]:
changed_tuple

('cat', 'dog', 'apple', 'banaba')

## 연습문제